pyrofork==2.3.48
tgcrypto
aiohttp
python-dotenv<=0.20.0
motor
aiofiles
dnspython
apscheduler
requests
psutil
jinja2
pytz
shortzy

#Dont Remove My Credit @CloudDroid this code writen by @clouddroid & Praveen(𝕏Ð)Diwakar
#This Repo Is By @CDNHubs & @TechPraveen
# For Any Kind Of Error Ask Us In Support Group @CDNChats
